/* 
  Syntax Highlighting for Code Snippets

  https://www.bridgetownrb.com/docs/liquid/tags#stylesheets-for-syntax-highlighting

  Other styles available eg. https://github.com/jwarby/jekyll-pygments-themes
  To use another style, delete all styles in this file and replace them with
  the new styles. Or create your own!

*/

pre.highlight {
  padding: 16px;
  background-color: #F6F8FA;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* ===========================
   Dark Mode Syntax Highlighting
   =========================== */
[data-theme="dark"] pre.highlight {
  background-color: #1A2130;
}

[data-theme="dark"] .highlight .hll { background-color: #3d3d00 }
[data-theme="dark"] .highlight .c  { color: #6A737D; font-style: italic } /* Comment */
[data-theme="dark"] .highlight .err { color: #F97583; background-color: transparent } /* Error */
[data-theme="dark"] .highlight .k  { color: #F97583; font-weight: bold } /* Keyword */
[data-theme="dark"] .highlight .o  { color: #E1E4E8; font-weight: bold } /* Operator */
[data-theme="dark"] .highlight .cm { color: #6A737D; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .highlight .cp { color: #6A737D; font-weight: bold; font-style: italic } /* Comment.Preproc */
[data-theme="dark"] .highlight .c1 { color: #6A737D; font-style: italic } /* Comment.Single */
[data-theme="dark"] .highlight .cs { color: #6A737D; font-weight: bold; font-style: italic } /* Comment.Special */
[data-theme="dark"] .highlight .gd { color: #F97583; background-color: #3B1A1E } /* Generic.Deleted */
[data-theme="dark"] .highlight .ge { color: #E1E4E8; font-style: italic } /* Generic.Emph */
[data-theme="dark"] .highlight .gr { color: #F97583 } /* Generic.Error */
[data-theme="dark"] .highlight .gh { color: #79B8FF; font-weight: bold } /* Generic.Heading */
[data-theme="dark"] .highlight .gi { color: #85E89D; background-color: #1A3A1E } /* Generic.Inserted */
[data-theme="dark"] .highlight .go { color: #6A737D } /* Generic.Output */
[data-theme="dark"] .highlight .gp { color: #6A737D } /* Generic.Prompt */
[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
[data-theme="dark"] .highlight .gu { color: #B392F0 } /* Generic.Subheading */
[data-theme="dark"] .highlight .gt { color: #F97583 } /* Generic.Traceback */
[data-theme="dark"] .highlight .kc { color: #79B8FF; font-weight: bold } /* Keyword.Constant */
[data-theme="dark"] .highlight .kd { color: #F97583; font-weight: bold } /* Keyword.Declaration */
[data-theme="dark"] .highlight .kn { color: #F97583; font-weight: bold } /* Keyword.Namespace */
[data-theme="dark"] .highlight .kp { color: #F97583; font-weight: bold } /* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr { color: #F97583; font-weight: bold } /* Keyword.Reserved */
[data-theme="dark"] .highlight .kt { color: #79B8FF; font-weight: bold } /* Keyword.Type */
[data-theme="dark"] .highlight .m  { color: #79B8FF } /* Literal.Number */
[data-theme="dark"] .highlight .s  { color: #9ECBFF } /* Literal.String */
[data-theme="dark"] .highlight .na { color: #B392F0 } /* Name.Attribute */
[data-theme="dark"] .highlight .nb { color: #79B8FF } /* Name.Builtin */
[data-theme="dark"] .highlight .nc { color: #B392F0; font-weight: bold } /* Name.Class */
[data-theme="dark"] .highlight .no { color: #79B8FF } /* Name.Constant */
[data-theme="dark"] .highlight .nd { color: #B392F0; font-weight: bold } /* Name.Decorator */
[data-theme="dark"] .highlight .ni { color: #B392F0 } /* Name.Entity */
[data-theme="dark"] .highlight .ne { color: #F97583; font-weight: bold } /* Name.Exception */
[data-theme="dark"] .highlight .nf { color: #B392F0; font-weight: bold } /* Name.Function */
[data-theme="dark"] .highlight .nl { color: #F97583; font-weight: bold } /* Name.Label */
[data-theme="dark"] .highlight .nn { color: #E1E4E8 } /* Name.Namespace */
[data-theme="dark"] .highlight .nt { color: #85E89D } /* Name.Tag */
[data-theme="dark"] .highlight .nv { color: #FFAB70 } /* Name.Variable */
[data-theme="dark"] .highlight .ow { color: #F97583; font-weight: bold } /* Operator.Word */
[data-theme="dark"] .highlight .w  { color: #6A737D } /* Text.Whitespace */
[data-theme="dark"] .highlight .mf { color: #79B8FF } /* Literal.Number.Float */
[data-theme="dark"] .highlight .mh { color: #79B8FF } /* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi { color: #79B8FF } /* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo { color: #79B8FF } /* Literal.Number.Oct */
[data-theme="dark"] .highlight .sb { color: #9ECBFF } /* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc { color: #9ECBFF } /* Literal.String.Char */
[data-theme="dark"] .highlight .sd { color: #9ECBFF } /* Literal.String.Doc */
[data-theme="dark"] .highlight .s2 { color: #9ECBFF } /* Literal.String.Double */
[data-theme="dark"] .highlight .se { color: #9ECBFF } /* Literal.String.Escape */
[data-theme="dark"] .highlight .sh { color: #9ECBFF } /* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si { color: #9ECBFF } /* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx { color: #9ECBFF } /* Literal.String.Other */
[data-theme="dark"] .highlight .sr { color: #85E89D } /* Literal.String.Regex */
[data-theme="dark"] .highlight .s1 { color: #9ECBFF } /* Literal.String.Single */
[data-theme="dark"] .highlight .ss { color: #B392F0 } /* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp { color: #6A737D } /* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .vc { color: #FFAB70 } /* Name.Variable.Class */
[data-theme="dark"] .highlight .vg { color: #FFAB70 } /* Name.Variable.Global */
[data-theme="dark"] .highlight .vi { color: #FFAB70 } /* Name.Variable.Instance */
[data-theme="dark"] .highlight .il { color: #79B8FF } /* Literal.Number.Integer.Long */
